doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        block title
    body 
        header 
            nav 
                ul 
                    li 
                        a(href="/") home
                    if(!userEmail) 
                        li 
                            a(href="/register") register 
                    if(!userEmail)
                        li 
                            a(href="/login") login
                    if(userEmail) 
                        li 
                            a(href="/logout") logout

        block content