extends layouts/main-layout.pug

block title 
    title register

block content 
    h1 register
    form(action="/register", method="post")
        input(type="email", name="email")
        input(type="password", name="password") 
        button register

    if errorMessage
        p.errorMessage= errorMessage